html body {
  margin-top: 0 !important;
  font-family: 'Noto Sans SC', sans-serif;
}

:lang(ko) {
  font-family: 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans HK', 'Noto Sans TC', 'Noto Sans SC', sans-serif;
}

:lang(ja) {
  font-family: 'Noto Sans JP', 'Noto Sans HK', 'Noto Sans TC', 'Noto Sans SC', 'Noto Sans KR', sans-serif;
}

:lang(zh-TW), :lang(zh_TW) {
  font-family: 'Noto Sans TC', 'Noto Sans HK', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans KR', sans-serif;
}

:lang(zh-HK) {
  font-family: 'Noto Sans HK', 'Noto Sans TC', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans KR', sans-serif;
}

:lang(zh-Hans), :lang(zh-CN), :lang(zh), :lang(zh_CN) {
  font-family: 'Noto Sans SC', 'Noto Sans HK', 'Noto Sans TC', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
}